@import "../base/variables";
@import "../base/listas";

body {
  margin: 0%;
  padding: 0%;
  background-color:nth($colores, 6 );
  overflow-x: hidden;

  .navbar-nav{
    border-bottom-left-radius:100px;
  }

  .section-nav{
    width: 100px;
    height: 50px;
    transition: width 2s;
  }
  .section-nav:hover {
    width: 300px;
  }
  
  
  

}
