@import url(../base/_listas.scss);
@import url(../base/_variables.scss);

.celular {
    display: none;
}
@media only screen and(max-width:1000px) {
    .celular {
        display: block;        
    }
    
}
.desktop {
    display: block;

}
@media only screen and(max-width:1000px) {
    .desktop {
        display: none;
    }
    
}